<form action="/expression-animals" method="post">
  <div>
       <label for="birdy">Twit:</label>
       <input type="text" id="birdy" name="cardinal_goes_twit">
      <label for="kitty">Roar:</label>
      <input type="text" id="kitty" name="cat_goes_meow">
       <input type="submit" value="post">
   </div>
</form>
