This is my anchor link to<a href = 'http://google.com'>
<b>Google</b>
<br />
</a>
<div style = 'background:rgb(165,38,18)'>
<a href = 'https://www.google.co.uk/search?q=cardinal&source=lnms&tbm=isch&sa=X&ved=0ahUKEwjK_seo_9fZAhWHJ8AKHflXC-YQ_AUICigB&biw=1168&bih=1099'>
<img style='border: 3px dotted white' src='http://dlanham.com/art/cardinal/dlanham-Cardinal.jpg' alt='Cardinal Images' width=550 height=300>
</a>
</div>
<h1>Cardinal says:</h1> <h2><%= @expression %>
My favourite number is
<%= @rand %></h2>
